.logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    
    font-family: $logo-font-family;
    @include font(700, 24px, 1.17, 0.03em);
    
    text-decoration: none;
    color: $accent-color;

    @media screen and (min-width: 768px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
    
    @media screen and (min-width: 1200px) {
        @include font(700, 26px, 1.19, 0.03em);
    }
}

.logo__part {
    color: $logo-header-second-color; 

    &--color-change {
        color: $footer-text-color;
    }
}

.footer__logo {
    margin-bottom: 20px;
    padding: 0;
    
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}