  $header-border-bottom: #ECECEC;
  $accent-color: #2196f3;
  $logo-header-second-color: #000000;
  $current-page-underline: #2196F3;
  
  $primary-page-background-color: #f5f5f5;
  $text-color: #757575;
  $title-text-color: #212121;
  
  $banner-background-color: #2f303a;
  $banner-text-color: #FFFFFF;
  $hero-button-color: #2196f3;
  $hero-button-text-color: #FFFFFF;
  $hero-button-hover-color: #188CE8;
  
  $advantage-icon-background: #F5F4FA;

  $activity-overlay-background-color: rgba(47, 48, 58, 0.8);
  $activity-overlay-color: #FFFFFF;
  
  $team-section-background-color: #f5f4fa;
  $teammate-background-color: #ffffff;
  $team-network-icon-color: #AFB1B8;
  $team-network-icon-color-hover: #ffffff;
  $team-network-icon-background-color: #2196F3;
  
  $client-item-border-and-icon: #AFB1B8;
  $client-item-border-and-icon-hover: #2196F3;

  $footer-text-color: #ffffff;
  $footer-mail-and-phone-color: rgba(255, 255, 255, 0.6);
  $footer-background-color: #2f303a;
  $footer-network-icon-color: #ffffff;
  $footer-network-icon-background-color: rgba(255, 255, 255, 0.1);
  $footer-network-icon-background-color-hover: #2196F3;
  $footer-join-word-color: #FFFFFF;
  $footer-subscribe-email-input-color: rgba(255, 255, 255, 0.6);
  
  $filter-button-hover-color: #2196f3;
  $filter-button-hover-text-color: #ffffff;
  $filter-button-background-color: #f5f4fa;
  $filter-button-text-color: #212121;
  $portfolio-card-border: #EEEEEE;
  $portfolio-overlay-description-text: #FFFFFF;
  $portfolio-card-overlay-background: rgba(33, 150, 243, 0.9);
  $backdrop-background-color: rgba(0, 0, 0, 0.2);
  $modal-background-color: #FFFFFF;
  $modal-close-btn-border-color: rgba(0, 0, 0, 0.1);
  $modal-close-btn-background-color: #FFFFFF; 
  $modal-close-btn-icon-color: #000000;
  $modal-close-btn-icon-color-hover: #2196F3;
  $form-main-color: #212121;
  $form-label-color: #757575;
  $form-checkbox-color: #212121;
  $main-font-family: "Roboto", sans-serif;
  $logo-font-family: "Raleway", sans-serif;

